body {
  background-color: #141b41;
  padding: 20px;
  max-width: 1000px;
  max-height: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  position: sticky;
  margin: auto;
}

#header{
  padding: 5px;
  margin: 35px;
  border-bottom-style: solid;
  border-bottom-color: #2C3671;
  border-width: thick;
  border-radius: 5px;
}


.ul {
  list-style-type: none;
  margin: auto;
  padding: 15px 30px 15px 30px;
  max-width: 850px;
  background-color: #232a54;
  text-align: center;
  border: 5px solid #2C3671;
  border-radius: 25px;
}

.ul li {
  display: inline;
  color: #fff;
  padding: 18px 16px;
  font-weight: bold;
}

.ul li a:link {
  color: #4BF3FC;
  text-decoration: none;
}

.ul li a:visited {
  color: #4BF3FC;
  text-decoration: none;
}

.ul li a:hover{
  background-color: #555;
  color: white;
  text-decoration: underline;
}


#center {
    margin: auto;
    padding: 10px 20px 10px 20px;
    border: 10px solid #2C3671;
    border-radius: 25px;
    max-width: 1000px;
    min-width: 600px;
}


.title {
  color: #98b9f2;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h2 {
  color: #6f9ceb;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: #306bac;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

p {
  color: #918ef4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

li {
  padding: 5px;
}


ul {
  color: #918ef4;
  font-family: Arial, Helvetica, sans-serif;
}

.joblink a:link {
  color: #4bf3fc;
  text-decoration: none;
}

.joblink a:visited {
  color: #FF1919;
  text-decoration: none;
}

.joblink a:hover {
  color: white;
}
