body {
  background-color: #ccdad1;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

/* ---------------------------- ID's ---------------------------------- */

#navbar {
  margin: auto;
}

#header{
  padding: 5px;
  margin-bottom: 35px;
  border-bottom-style: solid;
  border-bottom-color: #6f6866;
  border-width: thick;
  border-radius: 5px;
}

/* -------------------------- Classes ------------------------------- */

.header1 {
  margin: 20px;
}

.profilesection {
  margin: 15px;
  padding:10px;
  border: 3px solid;
  border-radius: 25px;
}

.title {
  color: #38302e;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.tableheader {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #38302e;
  text-align: center;
}

.stdpstn {
  font-family: Arial, Helvetica, sans-serif;
  color: #38302e;
  text-align: center;
  padding: 15px;
  font-weight: 700;
}
.stdpstn2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #38302e;
  text-align: left;
  padding: 15px;
}

/* ----------------------------------------- List Classes -------------------------------------------- */

.ul {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  max-width: 950px;
  background-color: #38302e;
  text-align: center;
}

.ul li {
  display: inline;
  color: #ccdad1;
  padding: 5px;
  font-weight: bold;
}

.ul li a:link {
  color: #ccdad1;
  text-decoration: none;
}

.ul li a:visited {
  color: #ccdad1;
  text-decoration: none;
}

.ul li a:hover {
  background-color: #555;
  color: white;
  text-decoration: underline;
}

/*------------------------------------------- Dropdown Menu ------------------------------------ */

/* The container <div> - needed to position the team profile dropdown content */
li.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  z-index: 1;
  background-color: #38302e ;
  padding-top: 15px;
}

.dropdown-content a {
  display: block;
  text-align: left;
  padding: 8px;
}

/* Show the team profile dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Links inside the team profile dropdown */

/*------------------------------------------- elements ----------------------------------------- */
h1 {
  color: #38302e;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 850;
}


h2 {
  color: #38302e;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 850;
}

h3 {
  color: #38302e;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

p {
  color: #38302e;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}


ul {
  color: #38302EFF;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  padding: 10px;
}


table, td, th {
  border: solid #38302e 5px;
  text-align: left;
  border-collapse: collapse;
  margin: auto;
}

